.home__bg-purple {
  background: linear-gradient(251deg, #461096 0.57%, #7F3CE0 99.97%);
}

.custom-shape-divider-bottom-1696870364 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1696870364 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1696870364 .shape-fill {
  fill: #FFFFFF;
}
  