@media (min-width: 904px) {
    .indicator:nth-child(-n + 3) {
        &::before {
            content: '';
            width: 150px;
            height: 3px;
            background-color: #570DF8;
            position: absolute;
            top: 0;
            left: 75%;
        }
    }
}
